
*~
*.bak-*
*.crx
.DS_Store
.idea/
*.log
_metadata/
# Node
node_modules/
npm-debug.log*
*.pyc
__pycache__/
*.pyo
# Python
*.swo
*.swp
Thumbs.db
.vscode/
*.xpi
yarn-debug.log*
yarn-error.log*
*.zip
# 打包产物
# 日志
# 编辑器 / OS
